{% extends 'base.html.twig' %}

{% block title %}New Livre{% endblock %}

{% block body %}

<section style="width:60%; margin:auto; margin-top: 50px; margin-bottom: 50px">
    <h1>Ajouter un Livre</h1>

    {{ include('livre/_form.html.twig') }}

    <a href="{{ path('app_livre_index') }}">Retour a la liste</a>

</section>
{% endblock %}
